*.o
*.out
*.exe
*.dll
*.so
*.dylib
miner
/build/
/bin/
/dist/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.gcda
*.gcno
profile-data/
*.log
*.tmp
*.pid
*.sh
*.obj
*.makefile
testminer
prodminer
!sample-scripts/*
setup/
*.prod.sh
*.prod.js
*/miner.js
*/*.html
